.contenedor{
    width: 300px;
    height: 500px;
    background-color: rgb(159, 159, 159);
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 30px;
    border-radius: 10px;
}



.dashboard{
    display: flex;
    flex-direction: row;
    background-color: black;
    flex-wrap: wrap;
    width: 240px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 15px;
}

.display{
    width: 200px;
    height:40px;
    margin: 10px;
    font-size: 25px;
    padding: 3px;
    background-color: rgb(79, 79, 79);
    color: white;
}