.contenedor{
    width: 300px;
    height: 450px;
    background-color: rgb(159, 159, 159);
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 30px;
}

.dashboard{
    display: flex;
    flex-direction: row;
    background-color: black;
    flex-wrap: wrap;
    width: 240px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.display{
    width: 200px;
    height:35px;
    font-size: 30px;
    padding: 3px;
    background-color: rgb(79, 79, 79);
    color: white;
}